@font-face {
  font-family: Clarin;
  src: url("../fonts/clarins-regular.woff.ttf"),
    url("../fonts/Clarins-Regular.woff"), url("../fonts/Clarins-Regular.woff2");
}
@font-face {
  font-family: GothamBook;
  src: url("../fonts/GothamBook.otf"), url("../fonts/GothamBook.ttf"),
    url("../fonts/GothamBook.woff"), url("../fonts/GothamBook.woff2");
}
@font-face {
  font-family: GothamMedium;
  src: url("../fonts/GothamMedium.otf"), url("../fonts/GothamMedium.ttf"),
    url("../fonts/GothamMedium.woff"), url("../fonts/GothamMedium.woff2");
}
